@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    background-color: #f4f7ff;
    font-family: 'Unbounded', sans-serif;
}

.container-mobile {
    max-width: 100%;
    padding: 0 20px;
}

.mobile-header {
    background-image: url('../assets/svg/bg-i-1.svg');
}

.section-1 {
    background-image: url('../assets/svg/bg-i-1.svg');
}

.title-content {
    width: 85%;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    text-transform: uppercase;
    color: #2c3041;
}

.border-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    margin-bottom: 15px;
}

.border-dash {
    background-size: contain;
    background-repeat: no-repeat;
}

.border-img-1 {
    width: 100px;
    background-image: url('../assets/svg/border-img-1.svg');
}

.border-img-2 {
    width: 123px;
    background-image: url('../assets/svg/border-img-2.svg');
}

.border-img-3 {
    width: 260px;
    line-height: 70px;
    background-image: url('../assets/svg/border-img-3.svg');
}

.border-img-4 {
    background-image: url('../assets/svg/border-img-4.svg');
}

.border-img-5 {
    background-image: url('../assets/svg/border-img-5.svg');
}

.menu-open {
    overflow: hidden;
}


/* Section - 4 Start */
.section-4-element {
    overflow: hidden;
    padding: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: height 1s ease;
}

#left-top {
    width: 100%;
    height: 570px;
    border-radius: 20px;
    background-image: url('../../assets/img/section-4-left-top.png');
    background-size: cover;
}

#left-bottom {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-image: url('../../assets/img/section-4-left-bottom.png');
    background-size: cover;
}

#right-top {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background-image: url('../../assets/img/section-4-right-top.png');
    background-size: cover;
}

#right-bottom {
    width: 100%;
    height: 530px;
    border-radius: 20px;
    background-image: url('../../assets/img/section-4-right-bottom.png');
    background-size: cover;
}

@media only screen and (max-width: 550px) {
    #left-top {
        height: 500px;
    }

    #left-bottom {
        height: 150px;
    }

    #right-top {
        height: 150px;
    }

    #right-bottom {
        height: 400px;
    }
}

/* Section-5 */
#section-5-box {
    width: 100%;
    height: 100%;
    padding: 50px 25px;
    background-image: url('../../assets/img/section-5-bg.jpg');
    background-size: cover;
    border-radius: 30px;
}

@media only screen and (max-width: 765px) {
    #section-5-box {
        background-image: url('../../assets/img/section-5-bg-mobile.png');
    }
}