.slider-element {
	width: 500px;
	height: 500px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	transform: scale(0.1) translate(1000px, -500px);
}

.slider-element:nth-child(1) {
	width: 300px;
	height: 300px;
	transform: scale(0.4);
	// transform: translateX(-50%);
}

.section-3-left-box {
	position: absolute;
	left: 30px;

	h4 {
		line-height: 60px;
	}
}

.section-3-box-mobile {
	display: none;
	transform: translateY(40%);
}

@media only screen and (max-width: 1024px) {
	.slider-element {
		display: none;
	}

	#section-3-title-box {
		display: none;
	}

	.section-3-box-mobile {
		display: inline-block;
	}
}
